In [1]:
!python -V

Python 3.12.1

In [2]:
import pandas as pd

In [3]:
import numpy as np

Q1. What's the version of Pandas that you installed?

In [4]:
pd.__version__

'2.2.2'

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [6]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

Q2. How many records are in the dataset?

In [8]:
df.shape

(2160, 12)

In [9]:
df['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

Q3. How many laptop brands are presented in the dataset?

In [10]:
df['Brand'].nunique()

27

Q4. How many columns in the dataset have missing values?

In [11]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [12]:
df_new=df[df['Brand'] == 'Dell']

Q5. What's the maximum final price of Dell notebooks in the dataset?

In [13]:
df_new['Final Price'].max()

np.float64(3936.0)

1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.

In [14]:
df['Screen'].median()

np.float64(15.6)

In [15]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [16]:
df['Screen'].value_counts()

Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.40      19
13.50      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
12.40       6
14.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.95       1
10.10       1
Name: count, dtype: int64

In [17]:
mode_value = df['Screen'].mode().iloc[0]

In [18]:
#  Fill missing values with the mode
df['Screen'] = df['Screen'].fillna(mode_value)

Q6. Median value of Screen

In [19]:
df['Screen'].median()

np.float64(15.6)

Q7. Sum of weights

In [20]:
# 1. Select Innjoo laptops and specific columns
df_filtered = df[df['Brand'] == "Innjoo"][['RAM', 'Storage', 'Screen']]

In [21]:
# 2. Get NumPy array
X = df_filtered.to_numpy()

In [22]:
# 3. Matrix multiplication with transpose
XTX = X.T @ X  # This is equivalent to np.dot(X.T, X)

In [23]:
# 4. Inverse of XTX (handle potential singularity)
try:
  XTX_inv = np.linalg.inv(XTX)  # Try to calculate inverse
except np.linalg.LinAlgError:
  print("Singular matrix! XTX cannot be inverted.")
  XTX_inv = None  # Handle singularity if it occurs

In [24]:
# 5. Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [25]:
# 6. Calculate w (handle potential None value for XTX_inv)
if XTX_inv is not None:
  w = XTX_inv @ X.T @ y
else:
  w = None  # Avoid multiplication if inverse is not available

In [26]:
# 7. Sum of elements in w (handle potential None value)
if w is not None:
  sum_w = np.sum(w)
  print("Sum of elements in w:", sum_w)
else:
  print("w is None due to singular matrix. Cannot calculate sum.")

Sum of elements in w: 91.2998806299555